<!-- You can use a layout.hbs file, which when used, will be use to wrap the content of each page. -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
