<!-- <ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/about">About</a></li>
  <li role="presentation" ><a href="projects">Projects</a></li>
  <li role="presentation"><a href="contact">Contact</a></li>
</ul> -->
<h1>Thank you {{name}} for your messge</h1>
